Source: matron-web
Maintainer: support@matron.chat
Section: web
Priority: optional
Homepage: https://matron.chat/

Package: matron-web
Architecture: all
Recommends: httpd
Description:
  Matron: a Matrix web client
  This package contains the web-based client that can be served through a web
   server.
